
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(142, 140, 144); 
  padding: 25px 25px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header.dark-theme {
  background-color: #121212;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  margin-left: 70%;
}

.logo span {
  margin-left: 10%;
  color: orange;
}

.toggle-btn {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-left: 40px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}
.nav-list li a:hover {
  color: orange;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

@media (max-width: 940px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(142, 140, 144); 
    width: 250px;
    border-radius: 5px;
    margin-right: -20px;
  }

  .nav-menu.show {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    margin-left: 25px;
  }

  .nav-list li {
    margin: 15px 0;
    font-size: 1rem;
  }

  .toggle-btn {
    display: block;
  }
  .close-btn{
    margin-left: 25px;
    margin-bottom: 20px;
  }
}

.dark-theme .nav-menu {
  background-color: #121212;
}
