<div class="notification-page pt-5 pb-5" id="notifications">
  <h2>Notifications</h2>
  
  <div class="row pt-4">
    <!-- Reminder Notifications -->
    <div class="col-md-8">
      <div class="notification reminder">
        <h4 (click)="toggleDropdown('reminder')">
          <i class="fas fa-bell"></i> Reminder Notifications
          <span class="dropdown-icon">{{ dropdownStates.reminder ? '-' : '+' }}</span>
        </h4>
        <ul *ngIf="dropdownStates.reminder">
          <li *ngFor="let reminder of reminders">
            <span>{{ reminder.message }}</span> <br />
            <span class="date">{{ reminder.date | date: 'short' }}</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Comment Notifications -->
    <div class="col-md-8">
      <div class="notification comment">
        <h4 (click)="toggleDropdown('comment')">
          <i class="fas fa-comment-alt"></i> Comment Notifications
          <span class="dropdown-icon">{{ dropdownStates.comment ? '-' : '+' }}</span>
        </h4>
        <ul *ngIf="dropdownStates.comment">
          <li *ngFor="let comment of comments">
            <span><strong>{{ comment.username }}</strong> commented: "{{ comment.text }}"</span>
            <br />
            <span class="date">{{ comment.date | date: 'short' }}</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Like Notifications -->
    <div class="col-md-8">
      <div class="notification like">
        <h4 (click)="toggleDropdown('like')">
          <i class="fas fa-thumbs-up"></i> Like Notifications
          <span class="dropdown-icon">{{ dropdownStates.like ? '-' : '+' }}</span>
        </h4>
        <ul *ngIf="dropdownStates.like">
          <li *ngFor="let like of likes">
            <span><strong>{{ like.username }}</strong> liked your post</span>
            <br />
            <span class="date">{{ like.date | date: 'short' }}</span>
          </li>
        </ul>
      </div>
    </div>

    
  </div>
</div>
