<!-- <div class="container pt-5 pb-5" id="blog">

  <h2 class="pt-5 p-3">Doctor Blogs</h2>


  <div *ngFor="let blog of blogs" class="p-3">
    <div class="alert alert-success">
      <div class="row">

        <div class="col-md-4">
          <h4>{{ blog.title }}</h4>
          <p><em>By <code >{{ blog.author }}</code> on <code>{{ blog.date }}</code></em></p>
          <p>{{ blog.content }}</p>
          <button class="btn btn-outline-warning btn-md mt-3">For more</button> 
        </div>

        <div class="col-md-8">
          <textarea [(ngModel)]="comment" placeholder="Leave a comment"></textarea>
  
          <button class="a" (click)="addComment(blog)">Add Comment</button>
        </div>
        
      </div>

         
        

    </div>
  </div>
    
</div> -->




<div class="container pt-5 pb-5" id="blog">
  <h2 class="pt-5 p-3 text-center">Doctor Blogs</h2>

  <!-- Button to Open the Add Blog Modal -->
  <button (click)="openAddBlogModal()" class="btn btn-success mb-4 add-blog-btn">
    Add Blog
  </button>

  <!-- Blog Display Section (Grid Layout) -->
  <div class="row">
    <div *ngFor="let blog of blogs" class="col-md-4 col-sm-6 col-12 p-3">
      <div class="blog-card">
        <div class="alert alert-light">
          <h4>{{ blog.title }}</h4>
          <p><em>By <code>{{ blog.author }}</code> on <code>{{ blog.date }}</code></em></p>
          <p>{{ blog.content }}</p>
          <button class="btn btn-outline-warning btn-sm mt-3">For more</button>

          <!-- Comment Section Inside Blog -->
          <div class="comment-section mt-3">
            <textarea [(ngModel)]="comment" placeholder="Leave a comment"></textarea>
            <button class="a" (click)="addComment(blog)">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Adding a New Blog -->
  <div class="modal fade" id="addBlogModal" tabindex="-1" aria-labelledby="addBlogModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="addBlogModalLabel">Add New Blog</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form (ngSubmit)="addBlog()">
            <div class="form-group mb-3">
              <input type="text" [(ngModel)]="newBlog.title" name="title" class="form-control" placeholder="Blog Title" required>
            </div>
            <div class="form-group mb-3">
              <textarea [(ngModel)]="newBlog.content" name="content" class="form-control" placeholder="Blog Content" rows="3" required></textarea>
            </div>
            <div class="form-group mb-3">
              <input type="text" [(ngModel)]="newBlog.author" name="author" class="form-control" placeholder="Author" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Add Blog</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>





