<div class="container pt-5 pb-5" id="blog">
  <h2 class="pt-5 p-3 text-center">Doctor Blogs</h2>

  <!-- Blog Display Section (Grid Layout) -->
  <div class="row">
    <div *ngFor="let blog of blogs" class="col-md-4 col-sm-6 col-12 p-3">
      <div class="blog-card">
        <div class="alert alert-light">
          <h4>{{ blog.title }}</h4>
          <p><em>By <code>{{ blog.author }}</code> on <code>{{ blog.date }}</code></em></p>
          <p>{{ blog.content }}</p>
          <button class="btn btn-outline-warning btn-sm">For more</button>

          <!-- Comment Section Inside Blog -->
          <div class="comment-section mt-3">
            <textarea [(ngModel)]="comment" placeholder="Leave a comment"></textarea>
            <button class="a" (click)="addComment(blog)">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
